:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
  --secondary-glow: linear-gradient(
    to bottom right,
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0.3)
  );

  --tile-start-rgb: 2, 13, 46;
  --tile-end-rgb: 2, 5, 19;
  --tile-border: conic-gradient(
    #ffffff80,
    #ffffff40,
    #ffffff30,
    #ffffff20,
    #ffffff10,
    #ffffff10,
    #ffffff80
  );

  --callout-rgb: 20, 20, 20;
  --callout-border-rgb: 108, 108, 108;
  --card-rgb: 100, 100, 100;
  --card-border-rgb: 200, 200, 200;

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  position: relative;
}

body {
  color: #0b0c0c;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: calc(1vh * 100);
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior: none;
}

/* main {
  min-height: 100vh;
} */

a {
  color: inherit;
  text-decoration: none;
}

.headerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  pointer-events: none;
  height: 2.845rem;
  background-color: #fff;
  z-index: 2;
}

.header {
  /* position: relative; */
  height: 100%;
}

.headerInner {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  color: #0b0c0c;
}

.headerLogo {
  position: relative;
  pointer-events: auto;
  font-weight: 600;
  font-size: 1.285rem;
  font-family: var(--font-mono);
}

.navControls {
  display: flex;
  align-items: center;
  list-style: none;
}

.navControl {
  z-index: 3;
  /* position: relative; */
  pointer-events: auto;
  text-decoration: none;
}

.menuToggle {
  position: relative;
  appearance: none;
  padding: 0;
  border: none;
  background: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.menuToggle:before,
.menuToggle:after {
  position: absolute;
  display: block;
  content: '';
  background: #0b0c0c;
  width: 25px;
  height: 2px;
  left: 2px;
  right: 2px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.menuToggle:before {
  top: 10px;
}

.menuToggle:after {
  bottom: 10px;
}

.menuToggle[data-open='true']:before {
  top: 14px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menuToggle[data-open='true']:after {
  bottom: 14px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navMenu {
  pointer-events: auto;
  position: relative;
  /* left: 0; */
  /* bottom: 0; */
  /* right: 0; */
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  /* overflow: hidden; */
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}

.navMenuInner {
  display: grid;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.navMenu[data-active='true'] {
  transform: translateX(0px);
}

.navMenu[data-active='false'] {
  transform: translateX(100%);
}

.navMenuLinks {
  padding-top: 4.25rem;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
}

.navMenuLinks > li {
  list-style: none;
  margin-bottom: 24px;
}

.navMenuLinks > li > a {
  font-family: ui-monospace, monospace;
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 0.01em;
  text-decoration: none;
}

.navMenuLinks > li > a:hover,
.navMenuLinks > li > a:active {
  font-weight: 500;
}
